[defaults]
inventory         = /ansible/inventory.ini
host_key_checking = False        # disable SSH key prompts (fine for local Docker)
retry_files_enabled = False
stdout_callback   = yaml         # cleaner output format

[privilege_escalation]
become      = True               # run tasks as root
become_method = sudo
